{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container mt-4">
    <h2 class="text-center mt-4 mb-4">Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form|crispy }}
            </div>
        </div>
          <button type="submit" class="btn btn-primary ml-2">Reset</button>
          <a class="ml-4" href="{% url 'account:login' %}">Have an account?</a>
        </div>
      </form>
</div>

{% endblock content %}
