{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container mt-5">
    <h1>You are already logged In</h1>
    <div class="">
        <a class="text-decoration-none" href="{% url 'movie:index' %}">Go To Search</a>
    </div>
</div>
{% else %}
<div class="container">
    <h2 class="text-center mt-4 mb-4">Sign Up Here</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.email|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-4 mb-0">
            {{ form.password1|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.password2|as_crispy_field }}
          </div>
          </div>
          <button type="submit" class="btn btn-primary ml-2">Sign Up</button>
          <a class="ml-4" href="{% url 'account:login' %}">Already have an account?</a>
        </div>
      </form>
</div>
{% endif %}
{% endblock content %}
