{% extends "layout.html" %}
{% load static %}
{% block content %}
    <header class="text-center text-white masthead" style="background: url({% static 'img/wp4056399.jpg' %}) no-repeat center center; background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Search Movies, Genres, Actors and much more !</h1>
                </div>
                {% if request.user.is_authenticated %}
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="GET" action="{% url 'movie:index' %}">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="q" placeholder="Batman ?"></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Search&nbsp;</button></div>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form >
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="q" placeholder="Login To Search ?"></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Search&nbsp;</button></div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Extensive Search</h3>
                        <p class="lead mb-0">Look up your favorite movies with just one search !</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>OmDB API</h3>
                        <p class="lead mb-0">Utilizing the latest version of the OMDB API</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Clean and Simple UI</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url({% static 'img/coco.jpg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Animated Movies Too</h2>
                    <p class="lead mb-0">Our extensive database also contains a ton of data on animated movies</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'img/batman.jpeg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Get IMDB Links&nbsp;</h2>
                    <p class="lead mb-0">Most of the movie data contains IMDB links for the user to try their clearly better database.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url({% static 'img/bg-masthead.jpg' %}) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            {% if not request.user.is_authenticated %}
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..."></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit"><a href="{% url 'account:signup' %}" class="text-decoration-none text-light">Sign up!</a></button></div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
