{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container mt-3 min-vh-80">
    {% if our_db is not True %}
    <div class="alert alert-primary" role="alert" id="myAlert">
        Relead the page to inject data into our database
      </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {% if our_db is True %}
                {% if movie_data.Poster == "" %}
                    <img src="{% static 'img/broken.png' %}" alt="" class="d-block w-60">
                {% else %}
                    <img src="{{ movie_data.Poster.url }}" alt="" class="d-block w-60">
                {% endif %}
            {% else %}
                {% if movie_data.Poster == "N/A" %}
                    <img src="{% static 'img/broken.png' %}" alt="" class="d-block w-60">
                {% else %}
                    <img src="{{ movie_data.Poster }}" alt="" class="d-block w-60">
                {% endif %}
            {% endif %}
            <h4 class="mt-3">Ratings</h4>
            <p><b>imdbRating:</b> {{ movie_data.imdbRating }}({{ movie_data.imdbVotes }})</p>
            {% for movie in movie_data.Ratings.all %}
            <p><b>{{ movie.source }}:</b> {{ movie.rating }}</p>
            {% endfor %}
            <p><b>Website:</b> {{ movie_data.Website }}</p>
        </div>
        <div class="col-md-7">
            <h2>{{ movie_data.Title }}</h2>
            <p class="text-primary">{{ movie_data.Type }}</p>
            <p>{{ movie_data.Plot }}</p>

            <div class="movie-info">
                <p><b>Rated:</b> {{ movie_data.Rated }}</p>
                <p><b>Production:</b> {{ movie_data.Production }}</p>
                <p><b>Released:</b> {{ movie_data.Released }}</p>
                <p><b>Runtime:</b> {{ movie_data.Runtime }}</p>
                {% if our_db is True %}
                <p>
                    <b>Actors:</b> {% for actor in movie_data.Actors.all %}<a href="{{ actor.get_absolute_url }}"><b>{{ actor }}</a>, </b>{% endfor %}</p>
                {% else %}
                <p>Actors: <b>{{ movie_data.Actors }}</b></p>
                {% endif %}
                {% if our_db is True %}
                <p>
                    <b>Genre:</b> {% for genre in movie_data.Genre.all %}<a href="{{ genre.get_absolute_url }}"><b>{{ genre }}</a>, </b>{% endfor %}</p>
                {% else %}
                <p><b>Genre:</b> <b>{{ movie_data.Genre }}</b></p>
                {% endif %}
                <p><b>Director:</b> {{ movie_data.Director }}</p>
                <p><b>Writer:</b> {{ movie_data.Writer }}</p>
                <p><b>Language:</b> {{ movie_data.Language }}</p>
                <p><b>Country:</b> {{ movie_data.Country }}</p>
                <p><b>Awards:</b> {{ movie_data.Awards }}</p>
                <p><b>Metascore:</b> {{ movie_data.Metascore }}</p>
                <p><b>BoxOffice:</b> {{ movie_data.BoxOffice }}</p>
                <p><b>DVD:</b> {{ movie_data.DVD }}</p>
                <p><b>Rating:</b> Rated {{ reviews_avg.rate__avg }} by {{ reviews_count }} watchers.</p>

            </div>
            {% if user.is_authenticated %}
            <div class="d-flex flex-row bd-highlight mb-4">
                <button class="btn btn-success"><a class="text-decoration-none text-white" href="{% url 'movie:rate-movie' movie_data.imdbID %}"><i class="fas fa-star"></i>  Rate</a></button>
                <button class="btn btn-success ml-4"><a class="text-decoration-none text-white" href="{% url 'movie:add-movie-to-watch' movie_data.imdbID %}"><i class="fas fa-box-open"></i></i> - Watchlist</a></button>
                <button class="btn btn-success ml-4"><a class="text-decoration-none text-white" href="{% url 'movie:add-movie-to-watched' movie_data.imdbID %}"><i class="fas fa-box"></i> - Watched</a></button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <h4 class="card-title">Latest Reviews</h4>
        </div>
        <div class="comment-widgets">
            {% for review in reviews %}
            <div class="d-flex flex-row comment-row m-t-0">
                {% if review.user.profile.picture %}
                    <div class="p-2"><img src="{{ review.user.profile.picture.url }}" alt="user" width="50" height="50" class="rounded-circle"></div>
                {% else %}
                    <div class="p-2"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" width="50" class="rounded-circle"></div>
                {% endif %}

                <div class="comment-text w-100 mb-3">
                    <h6 class="font-medium"><a href="{% url 'movie:user-review' review.user.username movie_data.imdbID %}">{{ review.user.profile.first_name }} {{ review.user.profile.last_name }}</a></h6> <span class="m-b-15 d-block">{{ review.text }} <i class="fas fa-star"></i> {{ review.rate }}/10</span>
                    <div class="comment-footer"> <span class="text-muted float-right mr-2">{{ review.date|date:"M d, Y" }}</span>
                        <button type="button" class="btn btn-success btn-sm">
                            <a class="text-decoration-none text-white" href="{% url 'account:user-review-like' review.user.username movie_data.imdbID %}">{{ review.likes }}</a>
                        </button>
                         <button type="button" class="btn btn-danger btn-sm"><a class="text-decoration-none text-white" href="{% url 'account:user-review-like' review.user.username movie_data.imdbID %}">{{ review.unlikes }}</a></button> </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- Card -->
    </div>
</div>
{% endblock content %}
