{% load static %}
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container"><img src="{% static 'img/movie.svg' %}" alt="logo" height="36px" width="36px" srcset=""><a class="navbar-brand" href="{% url 'movie:index' %}"><h4>EraDB</h5></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button"  href="{% url 'account:logout' %}">Logout</a></div>
            {% else %}
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button"  href="{% url 'account:login' %}">Login</a></div>
            {% endif %}
        </div>
    </nav>
